html {
  box-sizing: border-box;

}

body {
  font-family: "Ubuntu", monospace, sans-serif;
}

body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

section {
  position: relative;
  display: block;
  height:100%;
  width:100%;
  padding: 60px;
  box-sizing: border-box;
}

.content {
  text-align: center;
}

.content > h2 {
  margin-top: 0;
  text-align: center;
}

.fa {
  cursor: pointer;
}

.fa.fa-angle-down {
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 50px;
  font-size: 3rem;
  color: black;
  display: block;
}

.fa.fa-angle-up {
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 50px;
  font-size: 3rem;
  color: black;
}

/* ---------- Navbar styling below ----------*/

nav {
  position: fixed;
  right: 25px;
  top: calc(50% - 90px);
  z-index: 100;
}

nav li {
  text-align: right;
  list-style: none;
}

nav a {
  display: block;
  /*-webkit-backface-visibility: hidden;
  backface-visibility: hidden;*/
  height: 20px;
  width: 20px;
  background: white;
  color: white;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 2px solid black;
  overflow: hidden;
}

nav a:hover {
  background: rgb(164, 165, 166);
}

.active {
  background: rgb(41, 41, 42);
}

/* ---------- Home section styling below ----------*/

#home {
  background: url(images/duo-home.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: auto;
  height: 100vh;
  width: 100vw;
}

#logo-home {
  width: 250px;
  height: 250px;
}

#home > .icon-block > .fa.fa-angle-down {
  font-weight: bold;
}


/* ---------- About us styling below ----------*/

.logo-pages {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

#aboutus {
  position: relative;
  min-height: 100vh;
  width: 100vw;
}

#aboutus:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: url(images/duo-aboutus.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100vw;
  opacity: 0.4;
  z-index: -1;
}

#aboutus > .content {
  background-color: rgba(41, 41, 42, 0.7);
  color: white;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 5%;
  padding: 50px;
  text-align: left;
  line-height: 1.5;
  border-radius: 25px;
  z-index: 2;
  margin-bottom: 25px;
}

#aboutus > .icon-block > .fa.fa-angle-down,
#aboutus > .icon-block > .fa.fa-angle-up {
  font-weight: bold;
}


/* ---------- Menu styling below ----------*/

#menu {
  position: relative;
  min-height: 100vh;
  width: 100vw;
}

#menu:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: url(images/duo-menu.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100vw;
  opacity: 0.4;
  z-index: -1;
}

.grid-container-menu {
  display: grid;
  max-width: 1250px;
  margin: 0 auto;
  grid-column-gap: 50px;
  grid-template-columns: auto auto;
  padding: 10px;
}

.grid-item-drink,
.grid-item-food {
  background-color: rgba(41, 41, 42, 0.7);
  color: white;
  border-radius: 25px;
  padding:20px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto 25px auto;
}

.item-list-heading,
.item-list {
  text-align: center;
  list-style: none;
  padding: 0;
}

.menu-image {
  width: 100%;
  height: 350px;
}

.menu-image > img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#menu > .icon-block > .fa.fa-angle-down,
#menu > .icon-block > .fa.fa-angle-up {
  font-weight: bold;
}


/* ---------- Gallery styling below ----------*/

#gallery {
  position: relative;
  min-height: 100vh;
  width: 100vw;
}

#gallery:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: url(images/2-cups.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100vw;
  opacity: 0.4;
  z-index: -1;
}

.grid-container-gallery {
  display: grid;
  max-width: 975px;
  margin: 0 auto;
  grid-column-gap: 25px;
  grid-template-columns: 225px 225px 225px 225px;
  grid-template-rows: auto auto auto;
  padding: 10px;
}

/*.grid-item-gallery {
  background-color: rgba(41, 41, 42, 0.7);
  border-radius: 25px;
  padding:20px;
  text-align: center;
  max-width: 225px;
  max-height: 225px;
  margin-bottom: 25px;
  justify-self: center;
}*/

.gallery-image {
  width: 100%;
  height: 100%;
  /*border: 1px solid rgb(41, 41, 42);
  border-radius: 25px;*/
}

.gallery-image > img {
  /*max-width: 100%;
  max-height: 150px;*/
  width: 100%;
  height: 200px;
  border-radius: 25px;
  border: 3px solid rgb(41, 41, 42);
  margin-bottom: 25px;
  overflow: hidden;
}

#gallery > .icon-block > .fa.fa-angle-down,
#gallery > .icon-block > .fa.fa-angle-up {
  font-weight: bold;
}


/* ---------- Gallery Modal styling below ---------- */

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 100px;
    margin: 0 auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 50px 0;
    border: 1px solid #888;
    width: 1000px;
}

.modal-image-display {
  width: 90%;
  height: 750px;
  margin: 0 auto;
}

.modal-image-display > img {
  width: 100%;
  height: 100%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* ---------- Contact us styling below ----------*/

#contactus {
  position: relative;
  min-height: 100vh;
  width: 100vw;
}

#contactus:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: url(images/duo-contactus.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100vw;
  opacity: 0.4;
  z-index: -1;
}

#contactus > .content {
  /*background-color: rgba(41, 41, 42, 0.7);*/
  color: white;
  max-width: 1000px;
  margin: 0 auto;
  /*padding: 0 50px;*/
  text-align: left;
  line-height: 1.5;
  border-radius: 25px;
  z-index: 2;
}

#contactus > .icon-block > .fa.fa-angle-up {
  font-weight: bold;
}

#contactus > .content > h2 {
  color: black;
}

.grid-container-contactus {
  display: grid;
  max-width: 1000px;
  margin: 0 auto;
  grid-column-gap: 50px;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  padding: 10px;
}

.grid-item-contactus {
  background-color: rgba(41, 41, 42, 0.7);
  border-radius: 25px;
  padding:20px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin-bottom: 25px;
  justify-self: center;
}

.map {
  width: 100%;
  height: 100%;
}

.map > iframe {
  width: 100%;
  height: 100%;
}



/* ------ Contact us hours grid styling below ------*/
.info {
  padding: 0 25px;
}

.grid-container-hours {
  display: grid;
  max-width: 600px;
  margin: 0 auto;
  grid-column-gap: 25px;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  /*padding: 10px;
  justify-self: left;*/
}

.grid-item-hours {
  border-radius: 25px;
  /*padding: 10px 20px;*/
  width: auto;
  margin-bottom: 5px;
  justify-self: left;

}

.grid-item-hours > p,
.info > p {
  margin-top: 0;
  text-align: left;
}

.info > p {
  margin: 0;
}

.grid-item-hours > p {
  height: 50px;
}

#phone-number {
  margin: 30px 0;
}

.info > a > img {
  float: left;
  cursor: pointer;
}

.address {
  text-align: left;
}

.social-media {
  text-align: left;
}

footer {
  text-align: center;
  margin-top: 25px;
  color: black;
}


/*---------- Responsive Design below ----------*/
@media (max-width: 1100px) and (min-width: 320px) {

  /*------ Menu responsive styling below ------*/
  .grid-container-menu {
    display: grid;
    max-width: 800px;
    margin: 0 auto;
    /*grid-column-gap: 50px;*/
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    padding: 10px;
    display: block;
  }

  .menu-image {
    width: 100%;
    height: 100%;
  }

  .menu-image > img {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  /*------ Contact us responsive styling below ------*/
  .grid-container-contactus {
    display: grid;
    max-width: 700px;
    margin: 0 auto;
    grid-column-gap: 50px;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    padding: 10px;
    display: block;
  }

  .grid-item-contactus {
    background-color: rgba(41, 41, 42, 0.7);
    border-radius: 25px;
    padding:20px;
    text-align: center;
    width: auto;
    margin-bottom: 25px;
    justify-self: center;
    margin: 0 auto 25px auto;
    height: 100%;
  }

  #contactus > .content {
    max-width: 500px;
  }

  .map > iframe {
    width: 100%;
    height: 500px;
  }
}


/*---------- Gallery responsive design below ----------*/
@media only screen and (max-width: 1100px) {
  .grid-container-gallery {
    display: grid;
    max-width: 700px;
    margin: 0 auto;
    grid-column-gap: 50px;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: auto auto auto auto;
    padding: 10px;
  }
}

@media only screen and (max-width: 850px) {
  .grid-container-gallery {
    display: grid;
    max-width: 450px;
    margin: 0 auto;
    grid-column-gap: 50px;
    grid-template-columns: 200px 200px;
    grid-template-rows: auto auto auto auto auto auto;
    padding: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .grid-container-gallery {
    display: grid;
    max-width: 350px;
    margin: 0 auto;
    grid-column-gap: 50px;
    grid-template-columns: 150px 150px;
    grid-template-rows: auto auto auto auto auto auto;
    padding: 10px;
  }

  .gallery-image {
    width: 100%;
    height: 100%;
  }

  .gallery-image > img {
    /*max-width: 100%;
    max-height: 150px;*/
    width: 150px;
    height: 150px;
    overflow: hidden;
  }
}


/*---------- Modal responsive styling below ----------*/
@media only screen and (max-width: 1100px) {
  .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 50px 0;
      border: 1px solid #888;
      width: 775px;
  }

  .modal-image-display {
    width: 90%;
    height: 625px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 850px) {
  .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 50px 0;
      border: 1px solid #888;
      width: 575px;
  }

  .modal-image-display {
    width: 90%;
    height: 450px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 50px 0;
      border: 1px solid #888;
      width: 450px;
  }

  .modal-image-display {
    width: 90%;
    height: 350px;
    margin: 0 auto;
  }
}
